/********************************* - QuestionBox, MessageBox *************************************/
.messageBox,
.questionBox {
    display: inline-block;
    position: fixed;
    z-index: 500;
    background-color: #fff;
    width: 400px;
    text-align: center;
}
.messageBox .text,
.questionBox .text {
    width: 100%;
    display: inline-block;
    padding: 20px 10px 15px;
    font-family: 'Frank', 'Franklin Gothic Medium', serif;
    color: #777777;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
}
.messageBox .buttonsLine,
.questionBox .buttonsLine {
    display: inline-block;
    margin: 0 auto;
}
.messageBox .bt,
.questionBox .bt {
    display: inline-block;
    margin: 0 10px 12px;
    border: 2px solid #4e4e4e;
    color: #4e4e4e;
    font-family: 'Frank', 'Franklin Gothic Medium', serif;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 40px;
}
.messageBox .bt:hover,
.questionBox .bt:hover {
    border: 2px solid #000;
    color: #000;
}